<div id="login">
	<article class="container">
		<div class="row">
			<div class="6u">
				<h2>Change your password</h2>
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  				<%= devise_error_messages! %>
  				<%= f.hidden_field :reset_password_token %>
  				<div class="row">
  					<div class="12u field"><%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New Password" %></div>
  				</div>
  				<div class="row">
  					<div class="12u field"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Retype New Password" %></div>
  				</div>
  				<div class="row">
  					<ul class="actions">
  						<li><%= f.submit "Change Password" %></li>
  					</ul>
  				</div>
  				
  				<% end %>
  			</div>
  			<div class="6u">
  				<h2>Have account/need new one?</h2>
  				<%= render "devise/shared/links" %>
  			</div>
		</div>
	</article>
</div>
