<a href="#top" id="toTop" class="icon fa-arrow-up"></a>
	<!-- Home -->
		<div class="wrapper style1 first">
			<article class="container" id="top">
				<div class="row">
					<div class="4u">
						<span class="image fit"><%=image_tag("front-image.jpg" , :alt => "Imajine Software") %></span>
					</div>
					<div class="8u">
						<header>
							<h1>We are <strong>Imajine</strong>.</h1>
						</header>
						<p style="text-align:left;">A web development and software company located in the <strong>Washington D.C.</strong> area serving all of the United States. </p>
						<a href="#work" class="button big scrolly">Learn About Our Services</a>
					</div>
				</div>
			</article>
		</div>

	<!-- Work -->
		<div class="wrapper style2">
			<article id="work">
				<header>
					<h2 class="web-services">Web Sites</h2>
				</header>
				<div class="container services-container">
					<div class="row">
						<div class="4u">
							<section class="box style1">
								<span class="icon featured web-services fa-laptop"></span>
								<h3 class="web-services">Web Applications</h3>
								<p>Custom web applications that support user login, social networking, and any features tailored to your business.</p>
							</section>
						</div>
						<div class="4u">
							<section class="box style1">
								<span class="icon featured web-services fa-wordpress"></span>
								<h3 class="web-services">Web Design</h3>
								<p>Modern Web-Design using the highest quality logos, layout, fonts. We also build custom Wordpress themes.</p>
							</section>
						</div>
						<div class="4u">
							<section class="box style1">
								<span class="icon featured web-services fa-cc-visa"></span>
								<h3 class="web-services">E-Commerce</h3>
								<p>Accept customer payments using Stripe, Square, Authorize, Paypal, and many other payment processors.</p>
							</section>
						</div>
					</div>
				</div>
				<header>
					<h2 class="mobile-services">Mobile Apps</h2>
				</header>
				<div class="container services-container">
					<div class="row">
						<div class="4u">
							<section class="box style1">
								<span class="icon featured mobile-services fa-apple"></span>
								<h3 class="mobile-services">Iphone/Ipad Apps</h3>
								<p>We build amazing, scale-able Iphone Apps for the just released IOS8 platform and earlier OS's. </p>
							</section>
						</div>
						<div class="4u">
							<section class="box style1">
								<span class="icon featured  mobile-services fa-android"></span>
								<h3 class="mobile-services">Android Apps</h3>
								<p>Androids apps you ask? Yes high quality, stylish ones for the Google Play Marketplace!</p>
							</section>
						</div>
						<div class="4u">
							<section class="box style1">
								<span class="icon featured mobile-services fa-tablet"></span>
								<h3 class="mobile-services">Mobile Layout</h3>
								<p>Mobile app not right for you? We can build a website that looks and feels like a mobile app.</p>
							</section>
						</div>
					</div>
				</div>
				<header>
					<h2 class="advertising-services">Web Advertising</h2>
				</header>
				<div class="container services-container">
					<div class="row">
						<div class="4u">
							<section class="box style1">
								<span class="icon featured advertising-services fa-thumbs-o-up"></span>
								<h3 class="advertising-services">Social Media</h3>
								<p>Our team can create social media (facebook, twitter, etc) pages for you and run ad campaigns.</p>
							</section>
						</div>
						<div class="4u">
							<section class="box style1">
								<span class="icon featured advertising-services fa-yelp"></span>
								<h3 class="advertising-services">Yelp Campaigns</h3>
								<p>Want to expand locally? We run yelp campaigns centered on coupons to help attract local customers.</p>
							</section>
						</div>
						<div class="4u">
							<section class="box style1">
								<span class="icon featured advertising-services fa-google"></span>
								<h3 class="advertising-services">Search Advertising</h3>
								<p>We create & manage ads that target Google search engine keywords. For example - "lawyer Washington D.C."</p>
							</section>
						</div>
					</div>
				</div>
				<footer>
					<p>Do we have samples of our recent work you ask?</p>
					<a href="#portfolio" class="button big scrolly">Check Out Recent Projects!</a>
				</footer>
			</article>
		</div>
	<!-- Portfolio -->
		<div class="wrapper style3">
			<article id="portfolio">
				<header>
					<h2>Here’s what our team has been working on. </h2>
				</header>
				<div class="container">
					<div class="row">
						<div class="6u">
							<article class="box style2">
								<%=link_to image_tag("scholar-law.png",:alt =>"Scholar Law"), "http://www.scholarlaw.net",  :class =>"image featured" %>
								<h3><a href="http://www.scholarlaw.net">Scholar Law</a></h3>
								<p>A website for a lawyer located in Falls Church, VA.</p>
							</article>
						</div>
						<div class="6u">
							<article class="box style2">
								<%=link_to image_tag("fsm50.png",:alt =>"FSM50"), "http://www.fsm50.com",  :class =>"image featured" %>
								<h3><a href="http://www.fsm50.com">FSM50</a></h3>
								<p>A web app to organize members of the Free Speech Movement. </p>
							</article>
						</div>
					</div>
					<div class="row">
						<div class="6u">
							<article class="box style2">
								<%=link_to image_tag("focusd.png",:alt =>"focusd"), "http://focusd.info", :class =>"image featured" %>
								<h3><a href="http://focusd.info">Focusd App - Android</a></h3>
								<p>A landing page for the Focusd Android App.</p>
							</article>
						</div>
						<div class="6u">
							<article class="box style2">
								<%=link_to image_tag("24hrclockworks.png",:alt =>"24hrclockworks"), "http://www.24hrclockworks.com", :class =>"image featured" %>
								<h3><a href="http://www.24hrclockworks.com">24hrclockworks</a></h3>
								<p>A web-site for a top-notch clock repairsman in Arlington,VA.</p>
							</article>
						</div>
					</div>
					<div class="row">
						<div class="6u">
							<article class="box style2">
								<%=link_to image_tag("linder.png",:alt =>"Linder"), "http://www.linkedin.com",  :class =>"image featured" %>
								<h3><a href="http://www.linkedin.com">Linder IOS App - Coming Soon</a></h3>
								<p>An IOS 8 app to help organize the members of LinkedIn.</p>
							</article>
						</div>
						<div class="6u">
							<article class="box style2">
								<%=link_to image_tag("yelp-24hrclockworks.png",:alt =>"24hrclockworks"), "hhttp://www.yelp.com/biz/24-hr-watch-and-clockworks-arlington",  :class =>"image featured" %>
								<h3><a href="http://www.yelp.com/biz/24-hr-watch-and-clockworks-arlington">24hrclockworks Yelp Campaign</a></h3>
								<p>Creating and Managing the Yelp of 24hrclockworks.</p>
							</article>
						</div>
					</div>
				</div>
				<footer>
					<p>Have a project you need help with or general question?</p>
					<a href="#contact" class="button big scrolly">Get in touch with us</a>
				</footer>
			</article>
		</div>

	<!-- Contact -->
		<div class="wrapper style4">
			<article id="contact" class="container small">
				<header>
					<h2>Contact us.</h2>
					<p>If we don't get back to you within 24 hours that's an automatic <strong style="color:#3BDD77">15% discount.</strong> </p>
				</header>
				<div>
					<% unless params[:errors].nil?  %> <!-- errors set by flash in contacts_controller -->
					<div class="errors">
						<h4>Please correct the following:</h4>
						<% params[:errors].each do |msg| %>
							<%= msg %>
							<br>
						<% end %>
						</div>
						<% end %>

					<div class="row">
						<div class="12u">
							<%= form_for(@contact) do |f| %> 
								<div>
								  	<div class="row"> 
										<div class="field 6u">
											<%= f.text_field :name, {:placeholder=> "Name *"} %>
										</div>
										<div class="field 6u">
											<%= f.text_field :email, {:placeholder=> "Email *"} %>
										</div>
									</div>
								   	<div class="row"> 
								    	<div class="field 12u">
								    	<%= f.text_field :subject , {:placeholder=> "Subject *"} %>
								  		</div>
							  		</div>
								   	<div class="row"> 
								    	<div class="field 12u">
								    	<%= f.text_area :message , {:placeholder=> "Message *"} %>
								  		</div>
							  		</div>
							  		<div class="row">
							    		<%= f.hidden_field :source, :value => "From Contact Form" %>
							    	</div>
									<div class="row double">
										<div class="12u">
											<ul class="actions">
												<li><%=f.submit "Send Message", :class => "contact-button" %></li>
												<li><input type="reset" value="Clear Form" class="alt" /></li>
											</ul>
										</div>
									</div>
								</div>
								<% end %>
						</div>
					</div>
				</div>
			</article>
		</div>
